altair==5.3.0
asttokens==2.4.1
backports.zoneinfo==0.2.1
blinker==1.8.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
community==0.16.0
decorator==5.1.1
exceptiongroup==1.2.1
executing==2.0.1
extra-streamlit-components==0.1.62
filelock==3.15.4
fqdn==1.5.1
idna==3.7
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
matplotlib==3.8.4
mdurl==0.1.2
mypy-extensions==1.0.0
networkx==3.3
numpy==1.26.4
packaging==24.0
pandas==2.2.2
pillow==10.3.0
protobuf==4.25.3
pyarrow==16.1.0
pydeck==0.8.1b0
Pygments==2.18.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2025.5
pyparsing==3.1.2
pywin32-ctypes==0.2.3
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.19.0
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
streamlit==1.35.0
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
watchdog==4.0.0
websocket-client==1.8.0
wrapt==1.16.0
xyzservices==2023.10.1
